<nav class="navbar navbar-dark">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag('logo.png') %>
      <%= link_to 'CrowdChecked', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Incidents', 'adf', class: "nav-item #{@active_nav == 'incidents' ? 'active-nav' : ''}" %></li>
        <li><%= link_to 'Settings', 'asdf', class: "nav-item #{@active_nav == 'settings' ? 'active-nav' : ''}" %></li>
        <li><%= link_to 'Billing', 'adf', class: "nav-item #{@active_nav == 'billing' ? 'active-nav' : ''}" %></li>
      </ul>
    </div>
  </div>

</nav>
